- 
	let storeList = [
		{
			id: '502',
			title: 'Котел стальной Патриот 12,5 без дымохода с принудительной вентиляцией',
			onStock: true,
			deliveryDay: 0,
			price: 3990,
			sale: true,
			salePercent: -30,
			oldPrice: 5490,
			img: 'images/content/item2.jpg',
			link: '#'
		},
		{
			id: '501',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: true,
			deliveryDay: 0,
			price: 5990,
			sale: false,
			salePercent: 0,
			oldPrice: 0,
			img: 'images/content/item1.jpg',
			link: '#'
		},
		{
			id: '503',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: true,
			deliveryDay: 0,
			price: 3400,
			sale: false,
			salePercent: 0,
			oldPrice: 0,
			img: 'images/content/item3.jpg',
			link: '#'
		},
		{
			id: '506',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: false,
			deliveryDay: 5,
			price: 5990,
			sale: false,
			salePercent: 0,
			oldPrice: 0,
			img: 'images/content/item1.jpg',
			link: '#'
		},
		{
			id: '505',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: true,
			deliveryDay: 0,
			price: 5990,
			sale: false,
			salePercent: 0,
			oldPrice: 0,
			img: 'images/content/item1.jpg',
			link: '#'
		},
		{
			id: '507',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: true,
			deliveryDay: 0,
			price: 3400,
			sale: false,
			salePercent: 0,
			oldPrice: 0,
			img: 'images/content/item3.jpg',
			link: '#'
		},
		{
			id: '508',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: true,
			deliveryDay: 0,
			price: 3990,
			sale: true,
			salePercent: -30,
			oldPrice: 5490,
			img: 'images/content/item2.jpg',
			link: '#'
		},
		{
			id: '504',
			title: 'Котел стальной Патриот 12,5 без дымохода',
			onStock: true,
			deliveryDay: 0,
			price: 5990,
			sale: false,
			salePercent: 0,
			oldPrice: 0,
			img: 'images/content/item1.jpg',
			link: '#'
		},
	]

- 
	let seo = {
		title: 'Котельное оборудование',
		text: [
			'Котлы и котельное оборудование подбираются при возведении и устройстве котельной в зависимости от вида котельной.',
			'По типу размещения котельные могут быть стационарными и блочно-модульными. При устройстве стационарной котельной возводится здание с фундаментом, стенами и кровлей. Монтаж котлов и котельного оборудования производится на месте.',
			'Блочно-модульные котельные находят все большее применение благодаря своим преимуществам. Блочно-модульные котельные поставляются в полной сборке: от здания котельной до всего комплекта оборудования. Их отличают быстрый ввод в эксплуатацию, высокий КПД, мобильность и широкие возможности размещения. Они могут быть отдельностоящими, пристроенными, встроенными, размещаться на крыше и в подвале.',
		]
	}

-
	let contacts = [
		{
			title: 'Связаться',
			text: 'Для связи с нами оставьте свои контактные данные. Наш менеджер позвонит вам в течение 20 минут и проконсультирует по любому интересующему вас вопросу.',
			btn: 'Обратный звонок',
			link: '#'
		},
		{
			title: 'Подписаться на рассылку',
			text: 'В нашей рассылке новости о новых товарах, скидках, акциях, а также, интересные гайды, лекции и семинары от компании.',
			btn: 'Подписаться',
			link: '#'
		},
	]