aside.b-sidebar
	.b-widget._widget
		h3.h3._title Подбор по параметрам
		._content
			form.b-param-form
				._brand
					h4.h4._title 
						span
							+icon('arrow', 'param-form__arrow')
						| Марка
					._inputs
						each brand in ['Ariston', 'Baxi', 'Protherm', 'Лемакс']
							label._label
								input(type="checkbox", name= brand)._checkbox
								._desc= brand
				._price-range
					h4.h4._title
						span
							+icon('arrow', 'param-form__arrow')
						| Цена
					._price-inputs
						label._lable
							span От
							input(type="text", name='low', value='')#price-min
						p —
						label._lable
							span До
							input(type="text", name='high', value='')#price-max
					._line#price-slider
				button(type="reset").btn.btn--clear._btn#reset-btn × Сбросить параметры